<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js image upload project</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <% if(!imageUrl) { %>
        <h1>Upload Your Image</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" />
          <button type="submit">Submit</button>
        </form>
      <% } %>
      <% if(imageUrl) { %>
        <h1>File Uploaded Successfully...!</h1>
        <div class="image_container">
           <img src="<%= imageUrl %>" alt="<%= imageUrl %>" />
        </div>
        <a href="/">Go Back</a>
      <% } %>

    </div>
  </body>
</html>
